#code-review-holder {
  position: relative;
  height: 100%;
}

#code-review-create {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
}

#code-review-create button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

span.code-review-error {
  color: red;
}

#code-review-incoming {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 100%;
}

div.code-review-preview {
    margin-bottom: 10px;
}

div.code-review-preview:hover {
    cursor: pointer;
}

div.code-review-preview .code-review-title {
    font-size: large;
    color: black;
}

div.code-review-preview .code-review-from {
}

div.code-review-preview .code-review-date {
}

.code-review-added-file .dynatree-title {
  color: green;
}

.code-review-changed-file .dynatree-title {
  color: darkorange;
}

.code-review-removed-file .dynatree-title {
  color: firebrick;
}

.code-review-unread-comments {
  background-color: #CCCCCC;
}

.code-review-approved {
  background-color: #99DD99;
}

.code-review-rejected {
  background-color: #FFAAAA;
}

button[name*="review-approve"] {
  position: relative;
  width: 45%;
}

button[name*="review-reject"] {
  position: relative;
  width: 37%;
}

button[name*="review-undo"] {
  position: relative;
  width: 18%;
}
