<div id="footer">

  <p class="text-muted credit">
    <a href="http://korya.github.io/hp-ide-code-review-extension/">
      Github Pages site
    </a>

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <a href="https://github.com/korya/hp-ide-code-review-extension">
      Repo on github.com
    </a>

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    Created by
    <a href="http://lnkd.in/abnTS6">
      <img src="./images/linkedin-logo-icon.png" alt="in">
      Kochelorov Dmitri
    </a>
    a.k.a.
    <a href="https://github.com/korya">korya</a>
  </p>

</div>
