<li>
  <a href="#development_process">Development Process</a>
  <ul class="nav">
    <li><a href="#milestones">Milestones</a></li>
    <li><a href="#weekly_meetings">Weekly Meetings</a></li>
    <li><a href="#unplanned_meetings">Unplanned Meetings</a></li>
  </ul>
</li>
<li>
  <a href="#technology_overview">Technology Overview</a>
  <ul class="nav">
    <li><a href="#ide_architecture">IDE Architecture</a></li>
    <li><a href="#server">Server</a></li>
    <li><a href="#client">Client</a></li>
  </ul>
</li>
