<nav class="navbar navbar-default " role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./index.html">Code Review</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "objectives" %} class="active"{% endif %}>
          <a href="./objectives.html">Objectives</a>
        </li>
	<li{% if page.slug == "methodology" %} class="active"{% endif %}>
          <a href="./methodology.html">Methodology</a>
        </li>
	<li{% if page.slug == "achievements" %} class="active"{% endif %}>
          <a href="./achievements.html">Achievements</a>
        </li>
	<li{% if page.slug == "installation" %} class="active"{% endif %}>
          <a href="./installation.html">Installation</a>
        </li>
	<li{% if page.slug == "links" %} class="active"{% endif %}>
          <a href="./links.html">Links</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<li class="navbar-link">
	   <a href="https://github.com/korya/hp-ide-code-review-extension">
	     View On GitHub
	   </a>
	 </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>
