<div class='codeReviewPage' data-ng-controller='code-review-page'>

  <div class='container'>

    <pane class='left'>

      <div class='noReview' data-ng-show='review === undefined'>
      </div>

      <div class='details' data-ng-show='review !== undefined'>
	<div class='title'><span>{{review.title}}</span></div>
	<div class='state'
	  data-ng-class='{approved:review.isApproved(), rejected:review.isRejected()}'>
	  <label>State:</label>
	  <span>{{review.state}}</span>
	  <span class='stateButton' data-ng-show='review.isMeReviwer'>
	    <button type="button" data-ng-click="approveReview()">Approve</button>
	    <button type="button" data-ng-click="rejectReview()">Reject</button>
	    <button type="button" data-ng-click="resetReviewState()">Reset</button>
	  </span>
	</div>
	<div class='author'>
	  <label>Author:</label>
	  <span>{{review.author.name}}</span>
	</div>
	<div class='reviewer'>
	  <label>Reviewer:</label>
	  <span>{{review.reviewer.name}}</span>
	</div>
	<div class='description'>
	  <label>Description:</label>
	  <span data-ng-show='!review.description' class='empty'>
	    No description
	  </span>
	  <span>{{review.description}}</span>
	</div>
	<div class='creationDate'>
	  <label>Creation Date:</label>
	  <span>{{review.creationDate}}</span>
	</div>
	<div class='lastUpdatedDate'>
	  <label>Last Update Date:</label>
	  <span>{{review.lastUpdatedDate}}</span>
	</div>
	<div class='repository'>
	  <div data-ng-show='review.repository.id'>
	    <label>Repository ID:</label>
	    <span>{{review.repository.id}}</span>
	  </div>
	  <div data-ng-show='!review.repository.id'>
	    <label>Repository Remote:</label>
	    <span>{{review.repository.remote}}</span>
	  </div>
	</div>
	<div class='commit'>
	  <label>Commits:</label>
	  <div class='filetree-placeholder'>
	    <!-- place holder for dynatrees -->
	  </div>
	</div>
      </div>

    </pane>

    <pane class='right'>

      <div class='threadFilter'>
	<select
	  data-ng-model="thread.filter"
	  data-ng-options="f.toString() group by f.file for f in thread.filters">
	</select>
      </div>

      <div class='commentInput'>
	<!-- XXX I did not find a better way to compile and append a
	  -  dynamically generated HTML.
	  -->
	<thread-header data-thread="thread.filter">
	</thread-header>
	<div>
	  <input type="text" data-ng-model="comment.message"
	    data-ng-enter="addComment()"
	    data-ng-disabled="!thread.filter.isSpecific()" />
	  <button data-ng-click="addComment()"
	    data-ng-disabled="!thread.filter.isSpecific()">
	    Send
	  </button>
	</div>
      </div>

      <div class='comments'>
	<div class='comment'
	  data-ng-repeat='c in filteredComments = (comments | filter:commentFilter) | orderBy:"-date"'>
	  <div class='message'>
	    <span class='sender'>{{c.sender.name}}:</span>
	    <span>{{c.message}}</span>
	  </div>
	  <div class='date'>{{c.prettyDate}}</div>
	  <div class='location'>
	    <location-link data-location='c.location'>
	      {{c.location.toString()}}
	    </location-link>
	  </div>
	  <div class='state'>{{c.state}}</div>
	</div>
	<div data-ng-show='filteredComments.length === 0'>
	  <span>No comments</span>
	</div>
      </div>

    </pane>

    <pane class='center'>

      <tabset>
	 <tab ng-repeat="diffTab in diffTabs"
	   disabled="diffTab.disabled"
	   active="diffTab.active">

	   <tab-heading>
	     {{diffTab.editor.title}}
	     <a ng-click="removeDiffTab(diffTab)" href=''>x</a>
	   </tab-heading>

	   <compare-editor data-params='diffTab.editor'
	     data-old-file='diffTab.oldFile' data-new-file='diffTab.newFile'
	     data-git-fetch
	     data-comment-annotator='diffTab.comments'
	     data-comment-annotator-click='setThreadFilter($clickedFile, $clickedLine)'
	     />

	   <div class='footer'>
	     Here comes a footer of {{diffTab.editor.title}}
	   </div>
	 </tab>
       </tabset>

    </pane>

  </div>

</div>
